<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Editar Post | ProgressBlog</title>
   <link rel="icon" type="image/png" href="/letra-p.png">

  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header class="admin-header">
    <div class="header-content">
      <span class="logo">ProgressBlog/admin</span>
      <a href="/admin" class="btn-logout">Voltar ao Painel</a>
    </div>
  </header>

  <main class="container">
    <div class="card">
      <h1>Editar Post</h1>
      
      <form action="/admin/posts/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="PUT">
        
        <div class="input-group">
          <label>Título</label>
          <input type="text" name="titulo" value="<%= @post.titulo %>" required>
        </div>

        <div class="input-group">
          <label>Conteúdo</label>
          <textarea name="conteudo" rows="10" required><%= @post.conteudo %></textarea>
        </div>

        <div class="input-group">
          <label>Referência</label>
          <input type="text" name="referencia" value="<%= @post.referencia %>">
        </div>

        <button type="submit" class="btn-primary">Salvar Alterações</button>
      </form>
    </div>
  </main>

</body>
</html>